.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    background: url('../img/bg-fundo-caderno.jpg') repeat-y;
}
.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}
.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/
.jcarousel {
    position: relative;
    overflow: hidden;
    width: 850px;
    height: 1036px;
    margin: 0 auto;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    float: left;
    width: 880px;
    height: 400px;
}
.jcarousel #area-saude, .jcarousel #tecnicos, .jcarousel #estetica {
    margin-top: 190px;
}

/** Carousel Controls **/
.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 486px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}
.jcarousel-control-prev {
    left: -50px;
}
.jcarousel-control-next {
    right: -50px;
}
.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}